<%- include('header') %>
<h1>About page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur expedita
  tempore excepturi velit iusto dolorem laboriosam laudantium fugiat inventore
  soluta.
</p>
<%- include('footer') %>
